name: ci

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Run tests"
      - uses: debbsefe/flutter_ci_template_action@v1
        with:
          java_version: "12.x"
          coverage_path: ./coverage/lcov.info
          min_coverage: 60
          exclude: "**/*_notifier.dart **/*.mocks.dart **/*.injection.dart **/*.gr.dart **/.g.dart"
